{%include 'partials/head.liquid'%}

<main>

    {%comment%}
        STICKY BALLKKKKKKKKKK
    {%endcomment%}
 <div class="sticky">
    <form class="opslaan-form" method="POST" action="/favorieten">
                  <input type="hidden" name="houseId" value="{{ detail.id }}">
                  <button type="submit" class="opslaan-knop" aria-label="sla huis op">
                     <svg class="opslaan-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
    viewBox="0 0 48 48" data-v-cfc93cbe="">
    <path d="M39 9.86A10.17 10.17 0 0032 7a9.9 9.9 0 00-6 2 10.1 10.1 0 00-2 2 10.1 10.1 0 00-2-2 9.91 9.91 0 00-12 0 9.9 9.9 0 00-4 8c0 15 16 24 18 24s18-9 18-24a10 10 0 00-3-7.14zm-15 28a29.61 29.61 0 01-12.72-12.1A18.77 18.77 0 019 17a7 7 0 0113.41-2.81c.06.14.11.29.17.44a1.49 1.49 0 002.82 0c.05-.15.11-.3.17-.44A7 7 0 0139 17a18.77 18.77 0 01-2.28 8.81A29.61 29.61 0 0124 37.91z">
    </path></svg>
    
<svg class="liked-hart" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" style="">
<path d="M42 17a10 10 0 00-18-6 10 10 0 00-18 6c0 15 16 24 18 24s18-9 18-24z">

</path></svg>
                   </button>
                </form>

    <span class="tel-nummer">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
    <path d="M42 40.88V31.2l-10-2-3.63 2.1c-5.78-3-8.54-5.77-11.6-11.54L19 16 17 6H7.11a1 1 0 00-1 1C6 7.86 6 8.72 6 9.58A32.42 32.42 0 0038.42 42c.87 0 1.72 0 2.57-.12a1 1 0 001-1zM39 38v1h-.58A29.45 29.45 0 019 9.58V9h5.53l1.29 6.46-1.64 2.76a3 3 0 00-.07 2.94C17.44 27.42 20.68 30.65 27 34a3 3 0 002.9-.06l2.65-1.53L39 33.66z">
    </path></svg>
    <span class="tel-tekst">Toon telefoonnummer</span></span>

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
<path d="M42.5 10h-37A1.5 1.5 0 004 11.5v25A1.5 1.5 0 005.5 38h37a1.5 1.5 0 001.5-1.5v-25a1.5 1.5 0 00-1.5-1.5zM23.12 26.22a1.5 1.5 0 001.76 0L41 14.57V35H7V14.57zM9.95 13h28.1L24 23.15z">
</path> </svg> 
<span class="contact">  Neem contact op</span>
</div>

{%comment%}
ADRESSSS STUKJEEEEEEEEE
{%endcomment%}

<div class="adres">
<svg class="huis-blauw-d" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
<path d="M34.718 23.938l3 3.332v15.326a1.5 1.5 0 01-1.497 1.5H11.218a1.5 1.5 0 01-1.5-1.5V27.271l3-3.332v17.157h22V23.938zM23.735 4.998c.082.002.163.02.244.035.1.018.2.036.296.074.099.04.19.103.28.166.069.047.14.09.2.15.026.023.06.033.084.06L42.05 24.6a1.5 1.5 0 01-2.229 2.008l-2.106-2.339-3-3.332-11-12.216-11 12.217-3 3.332-2.101 2.333a1.5 1.5 0 01-2.23-2.007L22.598 5.48c.028-.032.068-.045.098-.073.039-.036.083-.06.125-.093.116-.089.237-.167.368-.217.06-.023.122-.032.184-.046.12-.029.24-.052.362-.052z">
</path></svg>

<p class="stad-boven-d">/ {{ detail.city }} </p>
    <p class="straat-boven-d">/ {{ detail.street }} {{ detail.house_nr }}</p>
</div>

{%comment%}
POP UPPPPPP LIKE KNOPPPPP :)))))
{%endcomment%}

<div id="sluiten"></div>
    {% if status == "verwijderd" %}
        <div id="popup-d" class="verwijderd-tekst">
            <a class="sluit-knop" href="#popup-d">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                <path d="M26.12 24l10.61-10.61a1.5 1.5 0 000-2.12 1.5 1.5 0 00-2.12 0L24 21.88 13.39 11.27a1.5 1.5 0 10-2.12 2.12L21.88 24 11.27 34.61a1.5 1.5 0 102.12 2.12L24 26.12l10.61 10.61a1.5 1.5 0 002.12 0 1.5 1.5 0 000-2.12z">
                </path></svg>
            </a>
                <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" aria-hidden="true" class="text-green-80">
                <path fill-rule="evenodd" d="M4 24C4 12.9543 12.9543 4 24 4C35.032 4.03295 43.9671 12.968 44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24ZM32.85 18.25C33.2468 18.25 33.6263 18.4126 33.9 18.7C34.4803 19.2648 34.524 20.1826 34 20.8L22 32.8C21.364 33.3344 20.436 33.3344 19.8 32.8L14.1 27.1C13.5201 26.5201 13.5201 25.5799 14.1 25C14.6799 24.4201 15.6201 24.4201 16.2 25L20.8 29.7L31.8 18.7C32.0737 18.4126 32.4532 18.25 32.85 18.25Z" clip-rule="evenodd">
                </path></svg> 
                Verwijderd uit favorieten
                        <a href="/detail">Maak ongedaan</a>
</div>
{% endif %}

{% if status == "succes" %}
  <div id="popup-s" class="succes-tekst">
    <a class="sluit-knop" href="#popup-s">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
    <path d="M26.12 24l10.61-10.61a1.5 1.5 0 000-2.12 1.5 1.5 0 00-2.12 0L24 21.88 13.39 11.27a1.5 1.5 0 10-2.12 2.12L21.88 24 11.27 34.61a1.5 1.5 0 102.12 2.12L24 26.12l10.61 10.61a1.5 1.5 0 002.12 0 1.5 1.5 0 000-2.12z">
    </path></svg></a>
   <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" aria-hidden="true" class="text-green-80">
   <path fill-rule="evenodd" d="M4 24C4 12.9543 12.9543 4 24 4C35.032 4.03295 43.9671 12.968 44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24ZM32.85 18.25C33.2468 18.25 33.6263 18.4126 33.9 18.7C34.4803 19.2648 34.524 20.1826 34 20.8L22 32.8C21.364 33.3344 20.436 33.3344 19.8 32.8L14.1 27.1C13.5201 26.5201 13.5201 25.5799 14.1 25C14.6799 24.4201 15.6201 24.4201 16.2 25L20.8 29.7L31.8 18.7C32.0737 18.4126 32.4532 18.25 32.85 18.25Z" clip-rule="evenodd">
   </path></svg> Je huis is bewaard
    <p> Je vind 'm onder <a href="/favorieten"> 'Favorieten'</a> in je account </p>
  </div>
{% endif %}

{%comment%}
IMG ENZ WONING BESCHRIJVINGEN :((
{%endcomment%}

<div class="container-img">
<img height="38" width="38"class="detail-img" src="https://fdnd-agency.directus.app/assets/{{ detail.poster_image}}" alt="foto-huis">

<div class="container-knoppen">
<button class="deel-icon">
  <svg class="deel-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 48 48">
  <path d="M36 31.3a6 6 0 00-4.81 2.42l-13.51-7.8a5.92 5.92 0 00.08-3.58l13.7-7.91a6 6 0 10-1.33-2.69l-13.89 8a6 6 0 10-.2 8.68l14 8.09A6 6 0 1036 31.3zm0-23.78a3 3 0 11-3 3 3 3 0 013-3zM12 27a3 3 0 113-3 3 3 0 01-3 3zm24 13.3a3 3 0 113-3 3 3 0 01-3 3z"></path></svg>
</button>


  <form class="opslaan-form" method="POST" action="/favorieten">
                  <input type="hidden" name="houseId" value="{{ detail.id }}">
                  <button type="submit" class="opslaan-knop" aria-label="sla huis op">
                     <svg class="opslaan-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
    viewBox="0 0 48 48" data-v-cfc93cbe="">
    <path d="M39 9.86A10.17 10.17 0 0032 7a9.9 9.9 0 00-6 2 10.1 10.1 0 00-2 2 10.1 10.1 0 00-2-2 9.91 9.91 0 00-12 0 9.9 9.9 0 00-4 8c0 15 16 24 18 24s18-9 18-24a10 10 0 00-3-7.14zm-15 28a29.61 29.61 0 01-12.72-12.1A18.77 18.77 0 019 17a7 7 0 0113.41-2.81c.06.14.11.29.17.44a1.49 1.49 0 002.82 0c.05-.15.11-.3.17-.44A7 7 0 0139 17a18.77 18.77 0 01-2.28 8.81A29.61 29.61 0 0124 37.91z">
    </path></svg>
    
<svg class="liked-hart" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" style="">
<path d="M42 17a10 10 0 00-18-6 10 10 0 00-18 6c0 15 16 24 18 24s18-9 18-24z">

</path></svg>
                   </button>
                </form>
</div>
</div>

<hr>
<div class="container-beschrijving">
<div class="beschrijving">
<h1>{{ detail.street }} {{ detail.house_nr }}</h1>
<p>{{ detail.postal_code }} {{ detail.city }}</p>
<p>{{ detail.price }}k.k.</p>
</div>

<div class="kaart-container">
<img class="kaart-svg" src="https://nuxt.fstatic.nl/716adbe2a1f60dad/detail/_nuxt/map.Bc4Msx4Z.svg" aria-hidden="true" height="68" width="68" alt="maps-afbeelding">
 <p class="kaart-tekst">Kaart</p>
</div>
</div>

<div class="woning-icons">
  <div class="container-m2">
  <svg class="svg-m2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 48 48">
  <path d="M38.5 32.25v-16.5a5 5 0 10-6.25-6.25h-16.5a5 5 0 10-6.25 6.25v16.5a5 5 0 106.25 6.25h16.5a5 5 0 106.25-6.25zm-6.25 3.25h-16.5a5 5 0 00-3.25-3.25v-16.5a5 5 0 003.25-3.25h16.5a5 5 0 003.25 3.25v16.5a5 5 0 00-3.25 3.25zM37 9a2 2 0 11-2 2 2 2 0 012-2zM11 9a2 2 0 11-2 2 2 2 0 012-2zm0 30a2 2 0 112-2 2 2 0 01-2 2zm26 0a2 2 0 112-2 2 2 0 01-2 2z">
  </path></svg>
  <span class="svg-m2-tekst">{{ detail.m2 }}</span>
  </div>

<div class="container-garden">
  <svg class="svg-m2-garden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 48 48" >
  <path d="M43 5.5A1.5 1.5 0 0041.5 4h-35A1.5 1.5 0 005 5.5v37A1.5 1.5 0 006.5 44h35a1.5 1.5 0 001.5-1.5zm-35 9h13v5a1.5 1.5 0 001.5 1.5H30v20H8zm25 5a1.5 1.5 0 00-1.5-1.5H24v-5a1.5 1.5 0 00-1.5-1.5H8V7h32v34h-7z">
  </path></svg>
  <span class="svg-garden-tekst">{{ detail.m2_garden }}</span>
</div>

<div class="container-kamers">
  <svg class="svg-kamers" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"  viewBox="0 0 48 48" >
  <path d="M11 20l-3.999 5.999h33.998L37 20h3l3.999 5.999L44 26v9.5a1.5 1.5 0 01-1.5 1.5H39v1.5a1.5 1.5 0 01-3 0V37H12v1.5a1.5 1.5 0 01-3 0V37H5.5A1.5 1.5 0 014 35.5V26l.001-.001L8 20h3zm30 9H7v5h34v-5zM38.5 8A1.5 1.5 0 0140 9.5V20l-9-.001V21.5a1.5 1.5 0 01-1.5 1.5h-11a1.5 1.5 0 01-1.5-1.5v-1.501L8 20V9.5A1.5 1.5 0 019.5 8h29zM28 17h-8v3h8v-3zm9-6H11v5.999h6V15.5a1.5 1.5 0 011.5-1.5h11a1.5 1.5 0 011.5 1.5v1.499h6V11z">
  </path></svg>
  <span class="svg-kamers-tekst">{{ detail.rooms }}</span>
  </div>

</div>

<div class="container-machine">
<svg class="machine-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"  viewBox="0 0 48 48">
<circle cx="16" cy="22" r="2"></circle><circle cx="24" cy="22" r="2"></circle><circle cx="32" cy="22" r="2"></circle><circle cx="16" cy="29" r="2"></circle><circle cx="24" cy="29" r="2"></circle><circle cx="32" cy="29" r="2"></circle><circle cx="16" cy="36" r="2"></circle><circle cx="24" cy="36" r="2"></circle><circle cx="32" cy="36" r="2"></circle><rect width="20" height="8" x="14" y="9" rx="1" ry="1"></rect>
<path d="M36 6a1 1 0 011 1v34a1 1 0 01-1 1H12a1 1 0 01-1-1V7a1 1 0 011-1h24m0-3H12a4 4 0 00-4 4v34a4 4 0 004 4h24a4 4 0 004-4V7a4 4 0 00-4-4z">
</path></svg>
<span class="machine-tekst">Wat worden mijn maandlasten?</span>
</div>

<h2>Omschrijving</h2>
<p>{{ detail.description }}</p>
</main>
{% include 'partials/foot.liquid' %}