{%include 'partials/head.liquid'%}

<h1 class="h1-index">Woningen</h1>

<ul class="container-huizen">
    {% for huis in funda %}
    <li class="lijst-huizen">
<img src="https://fdnd-agency.directus.app/assets/{{huis.poster_image}}">

<p class="straat">{{huis.street}} {{huis.house_nr}}</p>
<p class="stad">{{huis.postal_code}} {{huis.city}}</p>
<p class="prijs">{{huis.price}}</p>
<p class="makelaar">{{huis.agent}}</p>

    </li>
    {% endfor %}

</ul>

    {%include 'partials/foot.liquid'%}